            <div class="main-content">
                <section id="news" class="news py-3 pt-lg-4 pb-lg-5">
                    <div class="container-fluid">
                        <div class="row mb-4">
                            <div class="col-12 col-lg-5">
                                <ul class="news-list">
                                    <li class="news-list__item  " data-id="7668461" data-iblockId="">
                                        <a class="news-list__item-link" href="https://news.tpprf.ru/ru/media/7668461/">
                                            <div class="news-list__item-title">ФедералПресс. Не стагнация, а
                                                перезагрузка: что будет с экономикой России в 2026 году</div>
                                            <div class="news-list__item-date d-flex flex-column align-items-end">
                                                11.12.2025 </div>
                                        </a>
                                        <a href="https://news.tpprf.ru/ru/media/7668461/" class="news-list__item-desc">


                                            Согласно отчету Минэкономразвития России, в январе&ndash;сентябре 2025 года
                                            ВВП страны вырос на 1 %




                                            Экономика России вошла в стадию умеренного роста, который будет сохраняться
                                            в 2026 году, заявляет правительство. Экономику России ждёт стагнация в
                                            предстоящий период, парируют эксперты. В сентябре Минэкономики РФ понизило
                                            прогноз роста ВВП по итогам 2025 года с 2,5 % до 1 %, а Банк Ро</a>
                                    </li>
                                    <li class="news-list__item  " data-id="7667480" data-iblockId="">
                                        <a class="news-list__item-link"
                                            href="https://news.tpprf.ru/ru/regional/7667480/">
                                            <div class="news-list__item-title">Астраханская ТПП подписала соглашение о
                                                сотрудничестве с Уполномоченным по защите прав предпринимателей в
                                                Астраханской области</div>
                                            <div class="news-list__item-date d-flex flex-column align-items-end">
                                                11.12.2025 </div>
                                        </a>
                                        <a href="https://news.tpprf.ru/ru/regional/7667480/"
                                            class="news-list__item-desc">9 декабря 2025 года в Астраханской ТПП прошел
                                            &nbsp;антикоррупционный диктант в рамках Всероссийской интерактивной акции,
                                            прирученной к ежегодному Международному дню борьбы с коррупцией.Учитывая
                                            масштабность и важность мероприятия, участниками диктанта в Астраханской ТПП
                                            стали предприниматели, представители государственных органов власти,
                                            контрольно-надзорных органов, образовательных кругов, студе</a>
                                    </li>
                                    <li class="news-list__item  " data-id="7667378" data-iblockId="">
                                        <a class="news-list__item-link"
                                            href="https://news.tpprf.ru/ru/regional/7667378/">
                                            <div class="news-list__item-title">На V ежегодном форуме «Дни
                                                производительности в Новосибирской области» предприниматели обсудили
                                                вопросы повышения эффективности бизнеса </div>
                                            <div class="news-list__item-date d-flex flex-column align-items-end">
                                                11.12.2025 </div>
                                        </a>
                                        <a href="https://news.tpprf.ru/ru/regional/7667378/"
                                            class="news-list__item-desc">10 декабря 2025 года в Новосибирске начал свою
                                            работу Форум, организованный Корпорацией развития Новосибирской области при
                                            поддержке Правительства НСО и
                                            Новосибирской городской торгово-промышленной палаты.
                                            &nbsp;В форуме принимают участие представители министерств и ведомств НСО,
                                            эксперты в области бережливого производства, руководители
                                            предприятий-лидеров построения производственных систем и пр</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="main-news show  " data-id="7663299" data-component="">
                                    <div class="main-news__theme-day">
                                        <div class="ribbon">Новость дня</div>
                                    </div>
                                    <div class="main-news__title">Сергей Катырин выступил на Российско-Эмиратском
                                        бизнес-форуме <div class="main-news__tags mt-3">
                                            <ul class="tags"></ul>
                                        </div>
                                    </div>
                                    <a href="https://news.tpprf.ru/ru/news/7662829/" class="main-news__pic"><img
                                            class="main-news__img"
                                            src="/upload/resize_cache/iblock/2b5/t2ygcw2lbue4yrumky57uyhfxlkq0ss4/961_541_140cd750bba9870f18aada2478b24840a/IMG-20251210-WA0008.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-7">
                                <div class="main-news show  " data-id="7663299" data-component="">
                                    <div class="main-news__theme-day">
                                        <div class="ribbon">Новость недели</div>
                                    </div>
                                    <div class="main-news__title">Сергей Катырин выступил на Российско-Эмиратском
                                        бизнес-форуме <div class="main-news__tags mt-3">
                                            <ul class="tags"></ul>
                                        </div>
                                    </div>
                                    <a href="https://news.tpprf.ru/ru/news/7659704/" class="main-news__pic"><img
                                            class="main-news__img"
                                            src="/upload/resize_cache/iblock/9b2/sjgrfhmmm7ml489mhwsfb6wfmaq962d0/961_541_140cd750bba9870f18aada2478b24840a/IMG-20251209-WA0046.jpg"></a>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <div class="">
                                            <div class="new new_sm card" data-id="6709282" data-iblockid="">
                                                <div class="new__pic ">
                                                    <a href="https://news.tpprf.ru/ru/news/6709282/">
                                                        <img src="/upload/iblock/ee4/77jd2tpb5n9l1v4t7ysm0r621p7d2wbm/b8WNUYc7bUP8J5UEyOePQIp5xxmPyzdt.jpg"
                                                            class="new__img" alt="" width="766" height="473" /> </a>
                                                    <div class="new__date">
                                                        <div class="ribbon">07.04.2025</div>
                                                    </div>
                                                </div>
                                                <div class="card-body new__content ">
                                                    <div class="new__category"><a
                                                            href="https://news.tpprf.ru/ru/main/">Международное
                                                            сотрудничество</a></div>
                                                    <a class="new__desk" href="https://news.tpprf.ru/ru/news/6709282/">
                                                        <h3 class="new__title ">В. Матвиенко: Контакты парламентариев
                                                            России и Бахрейна расширятся за счёт взаимодействия молодых
                                                            законодателей двух стран</h3>
                                                        <div class="new__text">Спикер СФ встретилась с Председателем
                                                            Палаты депутатов Национального собрания Бахрейна. &laquo;На
                                                            полях&raquo; проходящей в Ташкенте 150-й Ассамблеи
                                                            Межпарламентского союза Председатель Совета Федерации
                                                            Валентина Матвиенко провела встречу с Председателем Палаты
                                                            депутатов Национального собрания Королевства Бахрейн Ахмедом
                                                            Аль-Мусаллимом. В контексте предстоящего в этом году
                                                            35-летия установления ди</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="">
                                            <div class="new new_sm card" data-id="5183308" data-iblockid="">
                                                <div class="new__pic ">
                                                    <a href="https://news.tpprf.ru/ru/news/5183308/">
                                                        <img src="/upload/iblock/435/3o13kq0nv1g5rvaebi7rlpzydjg85ose/f633015b0f777a6f3e80a251beea1fa7.jpg"
                                                            class="new__img" alt="" width="440" height="270" /> </a>
                                                    <div class="new__date">
                                                        <div class="ribbon">15.11.2021</div>
                                                    </div>
                                                </div>
                                                <div class="card-body new__content ">
                                                    <div class="new__category"><a
                                                            href="https://news.tpprf.ru/ru/main/">Партнерские
                                                            проекты</a></div>
                                                    <a class="new__desk" href="https://news.tpprf.ru/ru/news/5183308/">
                                                        <h3 class="new__title ">ТПП РФ в четвертый раз запускает
                                                            спецпроект «100 семейных компаний под патронатом Президента
                                                            ТПП РФ»</h3>
                                                        <div class="new__text">
                                                            Торгово-промышленная палата Российской Федерации на
                                                            протяжении многих лет ведет системную работу по развитию
                                                            семейного бизнеса в России, формируя в рамках системы
                                                            торгово-промышленных палат бизнес-сообщество семейных
                                                            предпринимателей.
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="">
                                            <div class="new new_sm card new_no-image" data-id="7668461"
                                                data-iblockid="">
                                                <div class="new__pic ">
                                                    <div class="new__date">
                                                        <div class="ribbon">11.12.2025</div>
                                                    </div>
                                                </div>
                                                <div class="card-body new__content ">
                                                    <div class="new__category"><a
                                                            href="https://news.tpprf.ru/ru/media/">Система ТПП в РФ</a>
                                                    </div>
                                                    <a class="new__desk" href="https://news.tpprf.ru/ru/media/7668461/">
                                                        <h3 class="new__title ">ФедералПресс. Не стагнация, а
                                                            перезагрузка: что будет с экономикой России в 2026 году</h3>
                                                        <div class="new__text">


                                                            Согласно отчету Минэкономразвития России, в
                                                            январе&ndash;сентябре 2025 года ВВП страны вырос на 1 %




                                                            Экономика России вошла в стадию умеренного роста, который
                                                            будет сохраняться в 2026 году, заявляет правительство.
                                                            Экономику России ждёт стагнация в предстоящий период,
                                                            парируют эксперты. В сентябре Минэкономики РФ понизило
                                                            прогноз роста ВВП по итогам 2025 года с 2,5 % до 1 %, а Банк
                                                            Ро</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="">
                                            <div class="new new_sm card new_no-image" data-id="7668461"
                                                data-iblockid="">
                                                <div class="new__pic ">
                                                    <div class="new__date">
                                                        <div class="ribbon">11.12.2025</div>
                                                    </div>
                                                </div>
                                                <div class="card-body new__content ">
                                                    <div class="new__category"><a
                                                            href="https://news.tpprf.ru/ru/media/">Анонсы и
                                                            трансляции</a></div>
                                                    <a class="new__desk" href="https://news.tpprf.ru/ru/media/7668461/">
                                                        <h3 class="new__title ">ФедералПресс. Не стагнация, а
                                                            перезагрузка: что будет с экономикой России в 2026 году</h3>
                                                        <div class="new__text">


                                                            Согласно отчету Минэкономразвития России, в
                                                            январе&ndash;сентябре 2025 года ВВП страны вырос на 1 %




                                                            Экономика России вошла в стадию умеренного роста, который
                                                            будет сохраняться в 2026 году, заявляет правительство.
                                                            Экономику России ждёт стагнация в предстоящий период,
                                                            парируют эксперты. В сентябре Минэкономики РФ понизило
                                                            прогноз роста ВВП по итогам 2025 года с 2,5 % до 1 %, а Банк
                                                            Ро</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="">
                                            <div class="new new_sm card new_no-image" data-id="7668461"
                                                data-iblockid="">
                                                <div class="new__pic ">
                                                    <div class="new__date">
                                                        <div class="ribbon">11.12.2025</div>
                                                    </div>
                                                </div>
                                                <div class="card-body new__content ">
                                                    <div class="new__category"><a
                                                            href="https://news.tpprf.ru/ru/media/">Видеотека</a></div>
                                                    <a class="new__desk" href="https://news.tpprf.ru/ru/media/7668461/">
                                                        <h3 class="new__title ">ФедералПресс. Не стагнация, а
                                                            перезагрузка: что будет с экономикой России в 2026 году</h3>
                                                        <div class="new__text">


                                                            Согласно отчету Минэкономразвития России, в
                                                            январе&ndash;сентябре 2025 года ВВП страны вырос на 1 %




                                                            Экономика России вошла в стадию умеренного роста, который
                                                            будет сохраняться в 2026 году, заявляет правительство.
                                                            Экономику России ждёт стагнация в предстоящий период,
                                                            парируют эксперты. В сентябре Минэкономики РФ понизило
                                                            прогноз роста ВВП по итогам 2025 года с 2,5 % до 1 %, а Банк
                                                            Ро</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="">
                                            <div class="new new_sm card new_no-image" data-id="7425345"
                                                data-iblockid="">
                                                <div class="new__pic ">
                                                    <a href="https://news.tpprf.ru/ru/opinion/7425345/">
                                                        <img src="/upload/main/791/o5iu25lkqqfabch1kc1fh8b2re3an54o/avatar.jpg"
                                                            class="new__img" alt="" width="2069" height="2758" /> </a>
                                                    <img src="/upload/main/791/o5iu25lkqqfabch1kc1fh8b2re3an54o/avatar.jpg"
                                                        class="new__fake-img" alt="" width="2069" height="2758" />
                                                    <div class="new__date">
                                                        <div class="ribbon">15.10.2025</div>
                                                    </div>
                                                </div>
                                                <div class="card-body new__content ">
                                                    <div class="new__opinion-person">
                                                        <a class="new__opinion-person-name"
                                                            href="https://persons.tpprf.ru/1414/">Сергей Катырин</a>
                                                        <div class="new__opinion-person-avatar">
                                                            <img src="/upload/main/791/o5iu25lkqqfabch1kc1fh8b2re3an54o/avatar.jpg"
                                                                class="new__opinion-person-avatar-img" alt=""
                                                                width="2069" height="2758" />
                                                        </div>
                                                    </div>
                                                    <div class="new__category"><a
                                                            href="https://news.tpprf.ru/ru/opinion/">Экономика и
                                                            бизнес</a></div>
                                                    <a class="new__desk"
                                                        href="https://news.tpprf.ru/ru/opinion/7425345/">
                                                        <h3 class="new__title ">Торгово-промышленная палата оценила, на
                                                            сколько ЦБ может снизить ключевую ставку</h3>
                                                        <div class="new__text">Предпринимательское сообщество считает,
                                                            что в текущих условиях оптимальным будет снижение ключевой
                                                            ставки сразу до 15% и постепенное снижение к концу 2025 года
                                                            до 12%</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="calendar" class="calendar py-5 bg-light">
                    <div class="calendar_app d-none" id="calendar-app-3956" ref="calendar">
                        <div class="container">
                            <div class="row mb-4">
                                <div class="col d-flex align-items-center">
                                    <h2 class="title ">Анонсы</h2>
                                    <div class="dropdown ml-3 calendar__years d-none d-sm-block"><a
                                            class="calendar__year btn btn-outline-blue dropdown-toggle"
                                            id="dropdownMenuLink" href="#" role="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"> {{$store.state.year}} год</a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="calendar__year dropdown-item" href="#" v-for="n in 6"
                                                @click.prevent="changeYear($store.state.todayYear - n + 2)">
                                                {{$store.state.todayYear - n + 2}} </a>
                                        </div>
                                    </div>
                                    <button class="btn btn-outline-yellow ml-3" @click="setTodayDate()"
                                        v-if="!$store.getters.isTodayDate">Сегодня</button>
                                </div>
                                <div class="col text-right"><a
                                        class="btn btn-outline-blue text-uppercase d-none d-sm-inline-block"
                                        v-if="false" href="#">Инфографика</a>
                                    <a class="btn btn-outline-blue text-uppercase ml-3" href="#"
                                        v-if="false">Подробнее</a>
                                </div>
                            </div>
                            <div class="calendar__row calendar__row_mobile">
                                <div class="dropdown ml-3 calendar__years">
                                    <a class="calendar__year btn btn-outline-blue dropdown-toggle" id="dropdownMenuLink"
                                        href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false"> {{$store.state.year}} год </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="calendar__year dropdown-item" href="#" v-for="n in 5"
                                            @click.prevent="changeYear($store.state.todayYear - n + 1)">
                                            {{$store.state.todayYear - n + 1}} </a>
                                    </div>
                                </div>
                                <div class="dropdown calendar__months"><a class="btn dropdown-toggle calendar__month"
                                        id="dropdownMenuLink" href="#" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        {{$store.getters.getNameSelectedMonth}} </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="calendar__month dropdown-item" href="#"
                                            v-for="(month, index) in $store.state.months"
                                            @click.prevent="changeMonth(index)"> {{ month }} </a>
                                    </div>
                                </div>
                            </div>
                            <div class="calendar__row">
                                <div class="dropdown calendar__months d-none d-sm-block">
                                    <a class="btn dropdown-toggle calendar__month" id="dropdownMenuLink" href="#"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{$store.getters.getNameSelectedMonth}} </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="calendar__month dropdown-item" href="#"
                                            v-for="(month, index) in $store.state.months"
                                            @click.prevent="changeMonth(index)"> {{ month }}</a>
                                    </div>
                                </div>
                                <calendar-days-in-line>
                                    <calendar-days-in-line>
                                        <!-- <ul class="calendar__days">
					<li class="calendar__day" :class="getClassDay(day)" v-for="day in shownDays">
						<button class="calendar__day-btn" @click.prevent="changeDate(day)" :disabled="dayNotHaveEvents(day)" >{{ day }}</button>
					</li>
				</ul> -->
                                        <button class="calendar__btn-filter" data-toggle="collapse"
                                            href="#calendar-filter">
                                            <div class="calendar__btn-filter-text">Развернуть</div><i
                                                class="fas fa-chevron-down"></i>
                                        </button>
                            </div>
                            <div class="calendar__filter collapse" id="calendar-filter">
                                <div class="calendar__filter-row">

                                    <div class="calendar__filter-left">
                                        <date-picker></date-picker>
                                    </div>
                                    <div class="calendar__filter-right" v-if="false">
                                        <form class="calendar__filter-form">
                                            <div class="calendar__filter-options">
                                                <div class="calendar__filter-options-header">
                                                    <div class="calendar__filter-options-checkbox">
                                                        <label class="checkbox checkbox_calendar">
                                                            <input class="checkbox__input" type="checkbox" />
                                                            <div class="checkbox__title">по всем тематикам</div>
                                                        </label>
                                                    </div><a class="calendar__filter-btn-request" href="#">+ Заявка на
                                                        проведение</a>
                                                </div>
                                                <div class="calendar__filter-options-row">
                                                    <div class="calendar__filter-options-col">
                                                        <div class="calendar__filter-option">
                                                            <label class="checkbox checkbox_calendar">
                                                                <input class="checkbox__input" type="checkbox" />
                                                                <div class="checkbox__title">агропромышленный комплекс
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="calendar__filter-option">
                                                            <label class="checkbox checkbox_calendar">
                                                                <input class="checkbox__input" type="checkbox" />
                                                                <div class="checkbox__title">банковская деятельность
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="calendar__filter-option">
                                                            <label class="checkbox checkbox_calendar">
                                                                <input class="checkbox__input" type="checkbox" />
                                                                <div class="checkbox__title">БРИКС</div>
                                                            </label>
                                                        </div>
                                                        <div class="calendar__filter-option">
                                                            <label class="checkbox checkbox_calendar">
                                                                <input class="checkbox__input" type="checkbox" />
                                                                <div class="checkbox__title">внешние связи</div>
                                                            </label>
                                                        </div>
                                                        <div class="calendar__filter-option">
                                                            <label class="checkbox checkbox_calendar">
                                                                <input class="checkbox__input" type="checkbox" />
                                                                <div class="checkbox__title">выставочная деятельность
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="calendar__filter-option">
                                                            <label class="checkbox checkbox_calendar">
                                                                <input class="checkbox__input" type="checkbox" />
                                                                <div class="checkbox__title">благотворительность</div>
                                                            </label>
                                                        </div>
                                                        <div class="calendar__filter-option">
                                                            <label class="checkbox checkbox_calendar">
                                                                <input class="checkbox__input" type="checkbox" />
                                                                <div class="checkbox__title">бизнесс</div>
                                                            </label>
                                                        </div>
                                                        <div class="calendar__filter-option">
                                                            <label class="checkbox checkbox_calendar">
                                                                <input class="checkbox__input" type="checkbox" />
                                                                <div class="checkbox__title">госзакупки</div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="calendar__filter-options-col">
                                                        <div class="calendar__filter-option">
                                                            <label class="checkbox checkbox_calendar">
                                                                <input class="checkbox__input" type="checkbox" />
                                                                <div class="checkbox__title">агропромышленный комплекс
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="calendar__filter-option">
                                                            <label class="checkbox checkbox_calendar">
                                                                <input class="checkbox__input" type="checkbox" />
                                                                <div class="checkbox__title">банковская деятельность
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="calendar__filter-option">
                                                            <label class="checkbox checkbox_calendar">
                                                                <input class="checkbox__input" type="checkbox" />
                                                                <div class="checkbox__title">БРИКС</div>
                                                            </label>
                                                        </div>
                                                        <div class="calendar__filter-option">
                                                            <label class="checkbox checkbox_calendar">
                                                                <input class="checkbox__input" type="checkbox" />
                                                                <div class="checkbox__title">внешние связи</div>
                                                            </label>
                                                        </div>
                                                        <div class="calendar__filter-option">
                                                            <label class="checkbox checkbox_calendar">
                                                                <input class="checkbox__input" type="checkbox" />
                                                                <div class="checkbox__title">выставочная деятельность
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="calendar__filter-option">
                                                            <label class="checkbox checkbox_calendar">
                                                                <input class="checkbox__input" type="checkbox" />
                                                                <div class="checkbox__title">благотворительность</div>
                                                            </label>
                                                        </div>
                                                        <div class="calendar__filter-option">
                                                            <label class="checkbox checkbox_calendar">
                                                                <input class="checkbox__input" type="checkbox" />
                                                                <div class="checkbox__title">бизнесс</div>
                                                            </label>
                                                        </div>
                                                        <div class="calendar__filter-option">
                                                            <label class="checkbox checkbox_calendar">
                                                                <input class="checkbox__input" type="checkbox" />
                                                                <div class="checkbox__title">госзакупки</div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="calendar__events-container">
                            <calendar-events v-show="$store.state.events.length" ref="sliderCalendarEvents">
                            </calendar-events>
                            <h4 v-show="!$store.state.events.length" class="text-center text-muted">На выбранную дату
                                событий не найдено</h4>
                            <div v-if="$store.state.showSpinner" class="calendar__events-load">
                                <div class="spinner-border text-blue" role="status">
                                    <span class="sr-only">Загрузка...</span>
                                </div>
                            </div>
                            <div v-if="$store.state.error" class="calendar__events-load">
                                <h3 class="text-center text-danger">На ближайшие несколько дней событий нет</h3>
                            </div>
                        </div>
                    </div>
                </section>
                <script type="text/x-template" id="calendar-slider-template">

	<div class="slider pt-4">
<button class="slider__btn slider__btn_prev slider__btn_rect slick-arrow" ref="eventsSliderArrowPrev" @click="btnHandler($event, -1)">
  <svg class="slider__btn-icon">
	  <use v-bind="{'xlink:href': $store.state.siteTemplatePath + '/images/icons/symbol/sprite.svg#arrow'}"</use>
  </svg>
</button>
<button class="slider__btn slider__btn_next slider__btn_rect slick-arrow" ref="eventsSliderArrowNext" @click="btnHandler($event, 1)">
  <svg class="slider__btn-icon">
	  <use v-bind="{'xlink:href': $store.state.siteTemplatePath + '/images/icons/symbol/sprite.svg#arrow'}"</use>
  </svg>
</button>
<div class="container">
  <div class="calendar__events-content" ref="calendarEventsContent" @scroll="scrollHandler($event)">
	<div class="calendar__events-row" ref="calendarEventsRow">
		<div class="calendar__events-col" v-for="arEvents in $store.state.eventsInCol" ref="eventsCol">
			<div :class="['card', isLastEventInCol(index, arEvents), 'calendar__event', 'flex-fill']" v-for="event,index in arEvents" :data-date-event-utc="event.DATE_ANONCE_START_UTC" key="event.ID" :data-id="event.ID" ref="event">
				<div class="card-body calendar__event-body">
					<div class="d-flex justify-content-between mb-2">
						<div class="calendar__event-date">
							<div :class="['mb-1', eventIsCurrentDate(event.DATE_ANONCE_START_UTC) ? 'text-yellow' : '']"> {{ event.DATE_ANONCE_START_UTC | formatDate }} </div>
							<div v-if="event.TIME_START"> {{ event.TIME_START }} - {{ event.TIME_END }} </div>
						</div>
						<a :href="event.SEARCH_LINK" target="_blank"> {{ event.PLACE }} </a>
					</div>
					<div class="calendar__event-title" v-if="!event.URL"> {{ event.NAME }} </div>
					<a :href="event.URL" class="d-block calendar__event-title" v-else> {{ event.NAME }} </a>
					<div class="calendar__event-pic" v-if="event.PREVIEW_PICTURE">
						<img class="calendar__event-img" :src="event.PREVIEW_PICTURE">
					</div>
					<div class="calendar__event-tags" v-if="event.TAGS_LIST">
						<ul class="tags">
							<li v-for="tag in event.TAGS_LIST" class="tags__item"> <a class="tags__link" :href="tag.URL"> {{tag.NAME}} </a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>
</div>
</script>
                <script>
                    $(function () {
                        window.vueCalendarApp.init('#calendar-app-3956', { 'app': { 'siteTemplatePath': '/local/templates/fm-design' }, 'api': { 'signedParameters': 'YTozOntzOjE2OiJDVVJSRU5UX1JFU09VUkNFIjtzOjE6IlkiO3M6MTA6IlNFRl9GT0xERVIiO3M6MjQ6Imh0dHA6Ly9uZXdzLnRwcHJmLnJ1L3J1LyI7czoxNzoiU0VGX1VSTF9URU1QTEFURVMiO2E6Mzp7czo0OiJsaXN0IjtzOjc6IiNUWVBFIy8iO3M6NjoiZGV0YWlsIjtzOjIwOiIjVFlQRSMvI0VMRU1FTlRfSUQjLyI7czo2OiJERVRBSUwiO3M6MjA6IiNUWVBFIy8jRUxFTUVOVF9JRCMvIjt9fQ==.602e65c08c6262f2c0ab3606f7bc5459161a16ac477fe14bac455f8678e2f424', 'componentName': 'forumedia:main.newsbox.wiget' } });
                    });
                </script>

                <section class="news-page py-4">
                    <div class="container">
                        <div class="col-12 col-md-10">
                        </div>
                        <div class="mb-3" id="newsFilterBlock">
                            <form action="" id="newsFilter" class="form-filter form-row">
                                <div class="col-sm-3 d-flex mb-3 mb-sm-0">
                                    <input type="text" onclick="BX.calendar({node: this, field: this, bTime: false});"
                                        id="DATE_START" name="DATE_START" placeholder="c" value=""
                                        class="form-control mr-2" />
                                    <input type="text" onclick="BX.calendar({node: this, field: this, bTime: false});"
                                        id="DATE_FINISH" name="DATE_FINISH" placeholder="по" value=""
                                        class="form-control" />
                                </div>
                                <div class="col-sm-3 mb-3 mb-sm-0">
                                    <select name="tags[]" id="tags-select" multiple
                                        class="form-control flex-fill d-none" data-placeholder="Выберите теги"></select>
                                </div>


                                <div class="col-auto">
                                    <div class="text-right">
                                        <!-- <button type="button" class="btn btn-blue" id="search-btn">Найти</button> -->
                                        <!-- <a href=""><button type="button" class="btn btn-blue" id="search-btn">Создать</button></a> -->
                                        <button type="button" class="btn btn-secondary" id="clear-btn">Очистить</button>
                                    </div>
                                </div>
                                <div
                                    class="ml-auto col-auto text-right d-flex align-items-center justify-content-start justify-content-md-end news-page__btns">
                                    <div class="news-page__btn">
                                        <a class="btn-direction btn-direction_vertical" href="#">
                                            <svg class="btn-direction-icon">
                                                <use
                                                    xlink:href="/local/templates/fm-design/images/icons/symbol/sprite.svg#vertical-display">
                                                </use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="news-page__btn">
                                        <a class="btn-direction btn-direction_gorizontal btn-direction_active" href="#">
                                            <svg class="btn-direction-icon">
                                                <use
                                                    xlink:href="/local/templates/fm-design/images/icons/symbol/sprite.svg#gorizontal-display">
                                                </use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row news-page__list">
                            <div class="col-12 col-sm-6 col-md-3 py-3">
                                <div class="new new_sm card hide" data-id="2818808" data-iblockid="">
                                    <div class="new__pic ">
                                        <a href="https://news.tpprf.ru/ru/news/2818808/">
                                            <img src="/upload/resize_cache/iblock/b6c/ifaifrc0uxgybd0qcu1gxg9re1gsvm89/961_541_140cd750bba9870f18aada2478b24840a/22222.jpg"
                                                class="new__img" alt="" width="811" height="541" /> </a>
                                        <div class="new__date">
                                            <div class="ribbon">15.11.2021</div>
                                        </div>
                                    </div>
                                    <div class="card-body new__content ">
                                        <div class="new__category"><a href="https://news.tpprf.ru/ru/">Новости</a></div>
                                        <a class="new__desk" href="https://news.tpprf.ru/ru/news/2818808/">
                                            <h3 class="new__title ">Подписан первый контракт по поставке липецкой
                                                продукции в Таджикистан</h3>
                                            <div class="new__text">На площадке&nbsp;компании "МеталлТрейд" (Липецк) 15
                                                ноября состоялось подписание Соглашения о сотрудничестве, а также
                                                контракта между&nbsp;ООО "МеталлТрейд" и ООО "Хакко Энтерпрайз" г.
                                                Душанбе.
                                                Данное соглашение предусматривает поставку продукции ООО "МеталлТрейд"
                                                на рынок Таджикистана и последующую проработку вопроса о совместном
                                                производстве. Договор подписали генеральный директор&nbsp;&nbsp;ОО</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true" id="modal-page-error">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Спасибо за помощь в улучшении нашего
                                    сайта!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <div class="form-container mb-3">
                                    <div class="mb-2">Вы выделили опечатку:</div>
                                    <div class="p-2 bg-warning text-error mb-3"></div>
                                    <form name="FEEDBACK_LITERAL_ERROR" action="/" method="POST"
                                        enctype="multipart/form-data"><input type="hidden" name="sessid" id="sessid"
                                            value="dd66322659b9d693a11a4812af6fa933" /><input type="hidden"
                                            name="WEB_FORM_ID" value="16" /><input type="hidden" name="lang"
                                            value="ru" />
                                        <div class="forumedia-form-error-message"></div>

                                        <div><input type="hidden" class="input-error" name="form_hidden_130" value="" />
                                            <textarea name="form_textarea_129" class="form-control"
                                                placeholder="Введите комментарий"></textarea></div>

                                        <div class="ddd"></div>
                                        <input type="hidden" id="page-error-recaptcha" name="g-recaptcha-response" />
                                        <input type="text" hidden data-type="url" name="form_url_132" value=""
                                            size="0" />

                                    </form>
                                    <!-- <input type="hidden" id="page-error-recaptcha" name="g-recaptcha-response"> -->
                                </div>
                                <div class="alert alert-danger error-message" role="alert"></div>
                                <div class="alert alert-success success-message" role="alert"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-submit">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    function reloadRecaptcha() {
                        grecaptcha.execute('6LeI6OAZAAAAAHR2f12pbrG9Dr0Ll4OuSZhyw_h9', { action: 'homepage' }).then(function (token) {
                            $("#page-error-recaptcha").val(token);
                        });
                    }
                    RECAPTCHA_PUBLIC_KEY = '6LeI6OAZAAAAAHR2f12pbrG9Dr0Ll4OuSZhyw_h9';
                    grecaptcha.ready(function () {
                        reloadRecaptcha();
                    });
                    $(function () {
                        // $('input[data-type="url"]').val(window.location.protocol+'//'+window.location.host+window.location.pathname);
                        // var now = new Date();
                        // var cur_mounth = now.getMonth() + 1;
                        // if(cur_mounth < 10)
                        // 	cur_mounth = '0'+cur_mounth;
                        // $('input[data-type="date"]').val(now.getDate()+'.'+cur_mounth+'.'+now.getFullYear());

                        // $('input[name="WEB_FORM_ID"][value="16"]').parents('form').submit(function(){

                        // 	var $form = $(this)
                        // 		,$button = $form.find('*[type="submit"]')
                        // 		,buttonText = $button.val();
                        // 	$button.prop('disabled',true).val('Отправка...');

                        // 	var formData = new FormData(this);
                        // 	formData.append('web_form_submit', 'Y');
                        // 	$.ajax({
                        // 		type: 'post',
                        // 		cache: false,
                        // 		contentType: false,
                        // 		processData: false,
                        // 		data: formData
                        // 	}).always(function(response){
                        // 		console.log(response);
                        // $button.prop('disabled',false).val(buttonText);
                        // if(response.errors){
                        // 	document.querySelector('.forumedia-form-error-message').innerHTML = '<p class="alert alert-danger mb-3">'+response.errors+'</p>';

                        // }else if(response.data){
                        // 	document.querySelector('.forumedia-form-error-message').innerHTML = '<p class="alert alert-success mb-3">'+response.data+'</p>';
                        // }
                    });
                    // return false;
                    // });
                    // });
                </script>
            </div>